* {
  box-sizing: border-box;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20% 0;
}

ul {
  padding: 0;
  margin: 0;
}

.main-cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 0;
  box-shadow: 5px 5px 15px #928f8f;
}

.top {
  display: flex;
  align-items: center;
  padding: 0.9rem 1rem;
}

h1 {
  margin: 0;
  font-weight: 400;
  font-size: 1.3rem;
}

.main-input {
  flex: 1;
  font-style: italic;
  font-size: 0.9rem;
  outline: none;
  border: none;
  padding: 0.7rem 1rem;
}

.main-inputs {
  font-size: 0.9rem;
  outline: none;
  border: none;
  padding: 0.7rem 1rem;
}

li {
  width: 100%;
  border-top: 1px solid #dad6d6;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.7rem;
  cursor: default;
  list-style: none;
}

.check {
  cursor: pointer;
}

.icon {
  flex: 1;
  text-align: end;
}

i {
  font-size: 0.9rem;
  justify-self: flex-end;
  flex: 1;
  display: flex;
  text-align: end;
  color: #7c7c7c;
  cursor: move;
}

.btn-last {
  width: 100%;
  border: none;
  border-top: 1px solid #dad6d6;
  margin-top: 0;
  padding: 0.7rem 1rem;
  color: #7c7c7c;
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  align-items: center;
}

.btn-input {
  font-size: 0.9rem;
  border: none;
  width: fit-content;
  margin-right: 1rem;
  background-color: #fff;
}

.active {
  text-decoration: line-through;
}

.firtive {
  display: none;
}

.sective {
  display: none;
}
